In [1]:
# Imported necessary libraries
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

print('succesfully imported libaries....')

succesfully imported libaries....

## Data Preparation

In [2]:
# Loading the dataset
df = pd.read_csv('zillow_data.csv')
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [3]:
# A function to to analyze the shape, number of columns, and information of the dataset
def analyze_dataset(df):
    """
    This function  outputs information about the shape,
    columns, and information of the dataset using the Pandas library.
    """
    # Output the shape of the dataset
    print("Shape of dataset:", df.shape)
    print('\n-----------------------------------------------------------')

    # Output the column names of the dataset
    print("Column names:", list(df.columns))
    print('\n-----------------------------------------------------------')

    # Output information about the dataset
    print(df.info())
    print('\n-----------------------------------------------------------')

    # output descriptive statistics about the dataset
    print(df.describe())
    print('\n-----------------------------------------------------------')

In [4]:
# calling the function
analyze_dataset(df)

Shape of dataset: (14723, 272)

-----------------------------------------------------------
Column names: ['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank', '1996-04', '1996-05', '1996-06', '1996-07', '1996-08', '1996-09', '1996-10', '1996-11', '1996-12', '1997-01', '1997-02', '1997-03', '1997-04', '1997-05', '1997-06', '1997-07', '1997-08', '1997-09', '1997-10', '1997-11', '1997-12', '1998-01', '1998-02', '1998-03', '1998-04', '1998-05', '1998-06', '1998-07', '1998-08', '1998-09', '1998-10', '1998-11', '1998-12', '1999-01', '1999-02', '1999-03', '1999-04', '1999-05', '1999-06', '1999-07', '1999-08', '1999-09', '1999-10', '1999-11', '1999-12', '2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06', '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12', '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06', '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12', '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06', '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12', '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06', '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12', '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06', '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12', '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06', '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12', '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06', '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12', '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06', '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12', '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06', '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12', '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06', '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12', '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04']

-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB
None

-----------------------------------------------------------
            RegionID    RegionName      SizeRank       1996-04       1996-05  \
count   14723.000000  14723.000000  14723.000000  1.368400e+04  1.368400e+04
mean    81075.010052  48222.348706   7362.000000  1.182991e+05  1.184190e+05
std     31934.118525  29359.325439   4250.308342  8.600251e+04  8.615567e+04
min     58196.000000   1001.000000      1.000000  1.130000e+04  1.150000e+04
25%     67174.500000  22101.500000   3681.500000  6.880000e+04  6.890000e+04
50%     78007.000000  46106.000000   7362.000000  9.950000e+04  9.950000e+04
75%     90920.500000  75205.500000  11042.500000  1.432000e+05  1.433000e+05
max    753844.000000  99901.000000  14723.000000  3.676700e+06  3.704200e+06

            1996-06       1996-07       1996-08       1996-09       1996-10  \
count  1.368400e+04  1.368400e+04  1.368400e+04  1.368400e+04  1.368400e+04
mean   1.185374e+05  1.186531e+05  1.187803e+05  1.189275e+05  1.191205e+05
std    8.630923e+04  8.646795e+04  8.665094e+04  8.687208e+04  8.715185e+04
min    1.160000e+04  1.180000e+04  1.180000e+04  1.200000e+04  1.210000e+04
25%    6.910000e+04  6.920000e+04  6.937500e+04  6.950000e+04  6.960000e+04
50%    9.970000e+04  9.970000e+04  9.980000e+04  9.990000e+04  9.995000e+04
75%    1.432250e+05  1.432250e+05  1.435000e+05  1.437000e+05  1.439000e+05
max    3.729600e+06  3.754600e+06  3.781800e+06  3.813500e+06  3.849600e+06

       ...       2017-07       2017-08       2017-09       2017-10  \
count  ...  1.472300e+04  1.472300e+04  1.472300e+04  1.472300e+04
mean   ...  2.733354e+05  2.748658e+05  2.764646e+05  2.780332e+05
std    ...  3.603984e+05  3.614678e+05  3.627563e+05  3.644610e+05
min    ...  1.440000e+04  1.450000e+04  1.470000e+04  1.480000e+04
25%    ...  1.269000e+05  1.275000e+05  1.282000e+05  1.287000e+05
50%    ...  1.884000e+05  1.896000e+05  1.905000e+05  1.914000e+05
75%    ...  3.050000e+05  3.066500e+05  3.085000e+05  3.098000e+05
max    ...  1.888990e+07  1.870350e+07  1.860530e+07  1.856940e+07

            2017-11       2017-12       2018-01       2018-02       2018-03  \
count  1.472300e+04  1.472300e+04  1.472300e+04  1.472300e+04  1.472300e+04
mean   2.795209e+05  2.810953e+05  2.826571e+05  2.843687e+05  2.865114e+05
std    3.656003e+05  3.670454e+05  3.695727e+05  3.717739e+05  3.724612e+05
min    1.450000e+04  1.430000e+04  1.410000e+04  1.390000e+04  1.380000e+04
25%    1.292500e+05  1.299000e+05  1.306000e+05  1.310500e+05  1.319500e+05
50%    1.925000e+05  1.934000e+05  1.941000e+05  1.950000e+05  1.967000e+05
75%    3.117000e+05  3.134000e+05  3.151000e+05  3.168500e+05  3.188500e+05
max    1.842880e+07  1.830710e+07  1.836590e+07  1.853040e+07  1.833770e+07

            2018-04
count  1.472300e+04
mean   2.880399e+05
std    3.720544e+05
min    1.380000e+04
25%    1.324000e+05
50%    1.981000e+05
75%    3.211000e+05
max    1.789490e+07

[8 rows x 268 columns]

-----------------------------------------------------------

- The dataset has 14723 rows and 272 columns,4 categorical and the rest are numerical

## Data Cleaning

In [5]:
# Checking for duplicates and missing data in the dataset
def cleaning(data):
    "This is a simple function to get missing and duplicated values"
    missing = data.isna().sum().sum()
    duplicated = data.duplicated().sum()
    return (f"There are '{missing}' missing values and '{duplicated}' duplicated values in the dataset")

In [6]:
# Calling the function
cleaning(df)

"There are '157934' missing values and '0' duplicated values in the dataset"

In [7]:
# creating a dataframe to display the column datatypes and unique values
desc = []
for i in df.columns:
    desc.append([
        i,
        df[i].dtypes,
        df[i].nunique(),
    ])

pd.DataFrame(data = desc, columns=['Feature','Dtypes','Sample_Unique'])

        Feature  Dtypes  Sample_Unique
0      RegionID   int64          14723
1    RegionName   int64          14723
2          City  object           7554
3         State  object             51
4         Metro  object            701
..          ...     ...            ...
267     2017-12   int64           5248
268     2018-01   int64           5276
269     2018-02   int64           5303
270     2018-03   int64           5332
271     2018-04   int64           5310

[272 rows x 3 columns]

In [9]:
# Defined a function to  calculate the percentage of missing values in the dataset
def missing_values_percentage(df):
    # Calculating the total number of missing values in the Dataframe
    total_missing = df.isnull().sum().sum()

    # checking the total number of cells in the DataFrame
    total_cells = df.size

    # calculating the percentage of missing values
    percentage_missing = (total_missing / total_cells) * 100
    
    return percentage_missing

missing_values_percentage(df)

3.943759463983923

- Missing values are 3.94% of the entire dataset. Lets go ahead and preview the percentage of missing values per each individual column

In [11]:
# Calculating the percentage of missing values for each column in the DataFrame
missing_values = df.isnull().mean() * 100

# Print the list of columns in the DataFrame along with their missing percentages
for column in missing_values.index:
    # Print the column name followed by its corresponding missing percentage
    print(column, missing_values[column])

RegionID 0.0
RegionName 0.0
City 0.0
State 0.0
Metro 7.084154044691979
CountyName 0.0
SizeRank 0.0
1996-04 7.056985668681655
1996-05 7.056985668681655
1996-06 7.056985668681655
1996-07 7.056985668681655
1996-08 7.056985668681655
1996-09 7.056985668681655
1996-10 7.056985668681655
1996-11 7.056985668681655
1996-12 7.056985668681655
1997-01 7.056985668681655
1997-02 7.056985668681655
1997-03 7.056985668681655
1997-04 7.056985668681655
1997-05 7.056985668681655
1997-06 7.056985668681655
1997-07 7.050193574679074
1997-08 7.050193574679074
1997-09 7.050193574679074
1997-10 7.050193574679074
1997-11 7.050193574679074
1997-12 7.050193574679074
1998-01 7.036609386673912
1998-02 7.036609386673912
1998-03 7.036609386673912
1998-04 7.036609386673912
1998-05 7.036609386673912
1998-06 7.036609386673912
1998-07 7.036609386673912
1998-08 7.036609386673912
1998-09 7.036609386673912
1998-10 7.036609386673912
1998-11 7.036609386673912
1998-12 7.036609386673912
1999-01 7.036609386673912
1999-02 7.036609386673912
1999-03 7.036609386673912
1999-04 7.036609386673912
1999-05 7.036609386673912
1999-06 7.036609386673912
1999-07 7.036609386673912
1999-08 7.036609386673912
1999-09 7.036609386673912
1999-10 7.036609386673912
1999-11 7.036609386673912
1999-12 7.036609386673912
2000-01 7.036609386673912
2000-02 7.036609386673912
2000-03 7.036609386673912
2000-04 7.036609386673912
2000-05 7.036609386673912
2000-06 7.036609386673912
2000-07 7.036609386673912
2000-08 7.036609386673912
2000-09 7.036609386673912
2000-10 7.036609386673912
2000-11 7.036609386673912
2000-12 7.036609386673912
2001-01 7.036609386673912
2001-02 7.036609386673912
2001-03 7.036609386673912
2001-04 7.036609386673912
2001-05 7.036609386673912
2001-06 7.036609386673912
2001-07 7.036609386673912
2001-08 7.036609386673912
2001-09 7.036609386673912
2001-10 7.036609386673912
2001-11 7.036609386673912
2001-12 7.036609386673912
2002-01 7.036609386673912
2002-02 7.036609386673912
2002-03 7.036609386673912
2002-04 7.036609386673912
2002-05 7.036609386673912
2002-06 7.036609386673912
2002-07 7.036609386673912
2002-08 7.036609386673912
2002-09 7.036609386673912
2002-10 7.036609386673912
2002-11 7.036609386673912
2002-12 7.036609386673912
2003-01 7.036609386673912
2003-02 7.036609386673912
2003-03 7.036609386673912
2003-04 7.036609386673912
2003-05 7.036609386673912
2003-06 7.036609386673912
2003-07 6.235142294369354
2003-08 6.235142294369354
2003-09 6.235142294369354
2003-10 6.235142294369354
2003-11 6.235142294369354
2003-12 6.235142294369354
2004-01 6.0245873802893435
2004-02 6.0245873802893435
2004-03 6.0245873802893435
2004-04 6.0245873802893435
2004-05 6.0245873802893435
2004-06 6.0245873802893435
2004-07 5.881953406235143
2004-08 5.881953406235143
2004-09 5.881953406235143
2004-10 5.881953406235143
2004-11 5.881953406235143
2004-12 5.881953406235143
2005-01 5.528764518100931
2005-02 5.528764518100931
2005-03 5.440467296067378
2005-04 5.440467296067378
2005-05 5.440467296067378
2005-06 5.440467296067378
2005-07 4.9106839638660595
2005-08 4.9106839638660595
2005-09 4.9106839638660595
2005-10 4.9106839638660595
2005-11 4.9106839638660595
2005-12 4.9106839638660595
2006-01 4.530326699721524
2006-02 4.530326699721524
2006-03 4.530326699721524
2006-04 4.530326699721524
2006-05 4.530326699721524
2006-06 4.530326699721524
2006-07 4.346940161651838
2006-08 4.346940161651838
2006-09 4.346940161651838
2006-10 4.346940161651838
2006-11 4.346940161651838
2006-12 4.346940161651838
2007-01 4.211098281600218
2007-02 4.211098281600218
2007-03 4.211098281600218
2007-04 4.211098281600218
2007-05 4.211098281600218
2007-06 4.211098281600218
2007-07 4.16355362358215
2007-08 4.16355362358215
2007-09 4.16355362358215
2007-10 4.16355362358215
2007-11 4.16355362358215
2007-12 4.16355362358215
2008-01 4.122801059566664
2008-02 4.122801059566664
2008-03 4.122801059566664
2008-04 4.122801059566664
2008-05 4.122801059566664
2008-06 4.122801059566664
2008-07 4.061672213543435
2008-08 4.061672213543435
2008-09 4.061672213543435
2008-10 4.061672213543435
2008-11 4.061672213543435
2008-12 4.061672213543435
2009-01 3.9869591795150447
2009-02 3.9869591795150447
2009-03 3.9869591795150447
2009-04 3.9869591795150447
2009-05 3.9869591795150447
2009-06 3.9869591795150447
2009-07 3.939414521496978
2009-08 3.939414521496978
2009-09 3.939414521496978
2009-10 3.939414521496978
2009-11 3.939414521496978
2009-12 3.939414521496978
2010-01 3.932622427494396
2010-02 3.932622427494396
2010-03 2.3704408069007674
2010-04 2.3704408069007674
2010-05 2.3704408069007674
2010-06 2.3704408069007674
2010-07 2.091964952794947
2010-08 2.091964952794947
2010-09 2.091964952794947
2010-10 2.091964952794947
2010-11 2.091964952794947
2010-12 2.091964952794947
2011-01 1.8678258507097738
2011-02 1.8678258507097738
2011-03 1.8678258507097738
2011-04 1.8678258507097738
2011-05 1.8678258507097738
2011-06 1.8678258507097738
2011-07 1.70481559464783
2011-08 1.70481559464783
2011-09 1.70481559464783
2011-10 1.70481559464783
2011-11 1.70481559464783
2011-12 1.70481559464783
2012-01 1.521429056578143
2012-02 1.521429056578143
2012-03 1.521429056578143
2012-04 1.521429056578143
2012-05 1.521429056578143
2012-06 1.521429056578143
2012-07 1.3991713645316852
2012-08 1.3991713645316852
2012-09 1.3991713645316852
2012-10 1.3991713645316852
2012-11 1.3991713645316852
2012-12 1.3991713645316852
2013-01 1.0256061943897303
2013-02 1.0256061943897303
2013-03 1.0256061943897303
2013-04 1.0256061943897303
2013-05 1.0256061943897303
2013-06 1.0256061943897303
2013-07 0.7403382462813285
2013-08 0.7403382462813285
2013-09 0.7403382462813285
2013-10 0.7403382462813285
2013-11 0.7403382462813285
2013-12 0.7403382462813285
2014-01 0.38035726414453574
2014-02 0.38035726414453574
2014-03 0.38035726414453574
2014-04 0.38035726414453574
2014-05 0.38035726414453574
2014-06 0.38035726414453574
2014-07 0.0
2014-08 0.0
2014-09 0.0
2014-10 0.0
2014-11 0.0
2014-12 0.0
2015-01 0.0
2015-02 0.0
2015-03 0.0
2015-04 0.0
2015-05 0.0
2015-06 0.0
2015-07 0.0
2015-08 0.0
2015-09 0.0
2015-10 0.0
2015-11 0.0
2015-12 0.0
2016-01 0.0
2016-02 0.0
2016-03 0.0
2016-04 0.0
2016-05 0.0
2016-06 0.0
2016-07 0.0
2016-08 0.0
2016-09 0.0
2016-10 0.0
2016-11 0.0
2016-12 0.0
2017-01 0.0
2017-02 0.0
2017-03 0.0
2017-04 0.0
2017-05 0.0
2017-06 0.0
2017-07 0.0
2017-08 0.0
2017-09 0.0
2017-10 0.0
2017-11 0.0
2017-12 0.0
2018-01 0.0
2018-02 0.0
2018-03 0.0
2018-04 0.0

- The percentage of the missing values per column is still low, it is ranging from 1%-7% thus i chose to fill the missing values for the metro column with the string  missing then dropping the missing values in the date columns.

In [15]:
# Filling the 'Metro' column with the word 'missing'
df['Metro'].fillna('missing', inplace=True)

# Calculating the percentage of missing values for each column in the DataFrame
missing_values = df.isnull().mean() * 100

# Handling the date columns' missing values
df.dropna(inplace=True)

# Print the list of columns in the DataFrame along with their missing percentages
for column, percentage in missing_values.items():
    print(f"{column}: {percentage}%")

RegionID: 0.0%
RegionName: 0.0%
City: 0.0%
State: 0.0%
Metro: 0.0%
CountyName: 0.0%
SizeRank: 0.0%
1996-04: 0.0%
1996-05: 0.0%
1996-06: 0.0%
1996-07: 0.0%
1996-08: 0.0%
1996-09: 0.0%
1996-10: 0.0%
1996-11: 0.0%
1996-12: 0.0%
1997-01: 0.0%
1997-02: 0.0%
1997-03: 0.0%
1997-04: 0.0%
1997-05: 0.0%
1997-06: 0.0%
1997-07: 0.0%
1997-08: 0.0%
1997-09: 0.0%
1997-10: 0.0%
1997-11: 0.0%
1997-12: 0.0%
1998-01: 0.0%
1998-02: 0.0%
1998-03: 0.0%
1998-04: 0.0%
1998-05: 0.0%
1998-06: 0.0%
1998-07: 0.0%
1998-08: 0.0%
1998-09: 0.0%
1998-10: 0.0%
1998-11: 0.0%
1998-12: 0.0%
1999-01: 0.0%
1999-02: 0.0%
1999-03: 0.0%
1999-04: 0.0%
1999-05: 0.0%
1999-06: 0.0%
1999-07: 0.0%
1999-08: 0.0%
1999-09: 0.0%
1999-10: 0.0%
1999-11: 0.0%
1999-12: 0.0%
2000-01: 0.0%
2000-02: 0.0%
2000-03: 0.0%
2000-04: 0.0%
2000-05: 0.0%
2000-06: 0.0%
2000-07: 0.0%
2000-08: 0.0%
2000-09: 0.0%
2000-10: 0.0%
2000-11: 0.0%
2000-12: 0.0%
2001-01: 0.0%
2001-02: 0.0%
2001-03: 0.0%
2001-04: 0.0%
2001-05: 0.0%
2001-06: 0.0%
2001-07: 0.0%
2001-08: 0.0%
2001-09: 0.0%
2001-10: 0.0%
2001-11: 0.0%
2001-12: 0.0%
2002-01: 0.0%
2002-02: 0.0%
2002-03: 0.0%
2002-04: 0.0%
2002-05: 0.0%
2002-06: 0.0%
2002-07: 0.0%
2002-08: 0.0%
2002-09: 0.0%
2002-10: 0.0%
2002-11: 0.0%
2002-12: 0.0%
2003-01: 0.0%
2003-02: 0.0%
2003-03: 0.0%
2003-04: 0.0%
2003-05: 0.0%
2003-06: 0.0%
2003-07: 0.0%
2003-08: 0.0%
2003-09: 0.0%
2003-10: 0.0%
2003-11: 0.0%
2003-12: 0.0%
2004-01: 0.0%
2004-02: 0.0%
2004-03: 0.0%
2004-04: 0.0%
2004-05: 0.0%
2004-06: 0.0%
2004-07: 0.0%
2004-08: 0.0%
2004-09: 0.0%
2004-10: 0.0%
2004-11: 0.0%
2004-12: 0.0%
2005-01: 0.0%
2005-02: 0.0%
2005-03: 0.0%
2005-04: 0.0%
2005-05: 0.0%
2005-06: 0.0%
2005-07: 0.0%
2005-08: 0.0%
2005-09: 0.0%
2005-10: 0.0%
2005-11: 0.0%
2005-12: 0.0%
2006-01: 0.0%
2006-02: 0.0%
2006-03: 0.0%
2006-04: 0.0%
2006-05: 0.0%
2006-06: 0.0%
2006-07: 0.0%
2006-08: 0.0%
2006-09: 0.0%
2006-10: 0.0%
2006-11: 0.0%
2006-12: 0.0%
2007-01: 0.0%
2007-02: 0.0%
2007-03: 0.0%
2007-04: 0.0%
2007-05: 0.0%
2007-06: 0.0%
2007-07: 0.0%
2007-08: 0.0%
2007-09: 0.0%
2007-10: 0.0%
2007-11: 0.0%
2007-12: 0.0%
2008-01: 0.0%
2008-02: 0.0%
2008-03: 0.0%
2008-04: 0.0%
2008-05: 0.0%
2008-06: 0.0%
2008-07: 0.0%
2008-08: 0.0%
2008-09: 0.0%
2008-10: 0.0%
2008-11: 0.0%
2008-12: 0.0%
2009-01: 0.0%
2009-02: 0.0%
2009-03: 0.0%
2009-04: 0.0%
2009-05: 0.0%
2009-06: 0.0%
2009-07: 0.0%
2009-08: 0.0%
2009-09: 0.0%
2009-10: 0.0%
2009-11: 0.0%
2009-12: 0.0%
2010-01: 0.0%
2010-02: 0.0%
2010-03: 0.0%
2010-04: 0.0%
2010-05: 0.0%
2010-06: 0.0%
2010-07: 0.0%
2010-08: 0.0%
2010-09: 0.0%
2010-10: 0.0%
2010-11: 0.0%
2010-12: 0.0%
2011-01: 0.0%
2011-02: 0.0%
2011-03: 0.0%
2011-04: 0.0%
2011-05: 0.0%
2011-06: 0.0%
2011-07: 0.0%
2011-08: 0.0%
2011-09: 0.0%
2011-10: 0.0%
2011-11: 0.0%
2011-12: 0.0%
2012-01: 0.0%
2012-02: 0.0%
2012-03: 0.0%
2012-04: 0.0%
2012-05: 0.0%
2012-06: 0.0%
2012-07: 0.0%
2012-08: 0.0%
2012-09: 0.0%
2012-10: 0.0%
2012-11: 0.0%
2012-12: 0.0%
2013-01: 0.0%
2013-02: 0.0%
2013-03: 0.0%
2013-04: 0.0%
2013-05: 0.0%
2013-06: 0.0%
2013-07: 0.0%
2013-08: 0.0%
2013-09: 0.0%
2013-10: 0.0%
2013-11: 0.0%
2013-12: 0.0%
2014-01: 0.0%
2014-02: 0.0%
2014-03: 0.0%
2014-04: 0.0%
2014-05: 0.0%
2014-06: 0.0%
2014-07: 0.0%
2014-08: 0.0%
2014-09: 0.0%
2014-10: 0.0%
2014-11: 0.0%
2014-12: 0.0%
2015-01: 0.0%
2015-02: 0.0%
2015-03: 0.0%
2015-04: 0.0%
2015-05: 0.0%
2015-06: 0.0%
2015-07: 0.0%
2015-08: 0.0%
2015-09: 0.0%
2015-10: 0.0%
2015-11: 0.0%
2015-12: 0.0%
2016-01: 0.0%
2016-02: 0.0%
2016-03: 0.0%
2016-04: 0.0%
2016-05: 0.0%
2016-06: 0.0%
2016-07: 0.0%
2016-08: 0.0%
2016-09: 0.0%
2016-10: 0.0%
2016-11: 0.0%
2016-12: 0.0%
2017-01: 0.0%
2017-02: 0.0%
2017-03: 0.0%
2017-04: 0.0%
2017-05: 0.0%
2017-06: 0.0%
2017-07: 0.0%
2017-08: 0.0%
2017-09: 0.0%
2017-10: 0.0%
2017-11: 0.0%
2017-12: 0.0%
2018-01: 0.0%
2018-02: 0.0%
2018-03: 0.0%
2018-04: 0.0%

- There are '0' missing values and '0' duplicated values in the dataset.The dataset doesn't have any missing values or any duplicates. Since region ID is the unique identifier, let's check if there is any duplicates in that column.

In [17]:
# Checking for duplicates in the region ID column only
df[df['RegionID'].duplicated(keep=False)]

Empty DataFrame
Columns: [RegionID, RegionName, City, State, Metro, CountyName, SizeRank, 1996-04, 1996-05, 1996-06, 1996-07, 1996-08, 1996-09, 1996-10, 1996-11, 1996-12, 1997-01, 1997-02, 1997-03, 1997-04, 1997-05, 1997-06, 1997-07, 1997-08, 1997-09, 1997-10, 1997-11, 1997-12, 1998-01, 1998-02, 1998-03, 1998-04, 1998-05, 1998-06, 1998-07, 1998-08, 1998-09, 1998-10, 1998-11, 1998-12, 1999-01, 1999-02, 1999-03, 1999-04, 1999-05, 1999-06, 1999-07, 1999-08, 1999-09, 1999-10, 1999-11, 1999-12, 2000-01, 2000-02, 2000-03, 2000-04, 2000-05, 2000-06, 2000-07, 2000-08, 2000-09, 2000-10, 2000-11, 2000-12, 2001-01, 2001-02, 2001-03, 2001-04, 2001-05, 2001-06, 2001-07, 2001-08, 2001-09, 2001-10, 2001-11, 2001-12, 2002-01, 2002-02, 2002-03, 2002-04, 2002-05, 2002-06, 2002-07, 2002-08, 2002-09, 2002-10, 2002-11, 2002-12, 2003-01, 2003-02, 2003-03, 2003-04, 2003-05, 2003-06, 2003-07, 2003-08, 2003-09, 2003-10, 2003-11, 2003-12, ...]
Index: []

[0 rows x 272 columns]

- The data does not have any duplicated ID in the region ID column values

In [18]:
# Defined a function to check and print the value counts for each column in a DataFrame
def check_value_counts(data):
    # Iterate through each column in the DataFrame
    for column in data.columns:
        # Print a message indicating the column name
        print(f'Value counts for {column}:')
        
        # Used the value_counts() function to count unique values in the column and print the result
        print(data[column].value_counts())
        
        # Print a separator line for clarity
        print('------------------------------------------','\n')

# Calling the function
check_value_counts(df)

Value counts for RegionID:
73724    1
72582    1
76672    1
97146    1
91001    1
        ..
62023    1
58806    1
97717    1
60701    1
98304    1
Name: RegionID, Length: 13684, dtype: int64
------------------------------------------

Value counts for RegionName:
55324    1
99109    1
47906    1
11040    1
44273    1
        ..
98057    1
89521    1
75182    1
1450     1
65536    1
Name: RegionName, Length: 13684, dtype: int64
------------------------------------------

Value counts for City:
New York              104
Los Angeles            93
Houston                86
San Antonio            48
Washington             43
                     ...
Hastings on Hudson      1
Cold Spring Harbor      1
Saint John              1
Lake Mary               1
Bodega Bay              1
Name: City, Length: 7046, dtype: int64
------------------------------------------

Value counts for State:
CA    1188
NY     985
TX     944
PA     797
FL     765
OH     529
IL     523
NJ     502
MI     453
MA     414
NC     402
TN     399
IN     392
VA     372
MN     344
WA     336
WI     327
MD     313
GA     291
MO     269
CO     247
AZ     215
OK     210
OR     210
NH     195
SC     192
KS     168
AL     158
IA     148
LA     145
CT     124
KY     120
UT     116
AR      97
ID      95
NV      88
ME      77
NE      70
MS      67
WV      60
RI      59
NM      53
MT      52
HI      51
AK      28
DE      26
WY      24
DC      18
VT      16
SD      10
Name: State, dtype: int64
------------------------------------------

Value counts for Metro:
missing                           789
New York                          765
Los Angeles-Long Beach-Anaheim    344
Chicago                           317
Philadelphia                      281
                                 ...
Clearlake                           1
Dublin                              1
Payson                              1
Vernon                              1
Silver City                         1
Name: Metro, Length: 643, dtype: int64
------------------------------------------

Value counts for CountyName:
Los Angeles    261
Jefferson      172
Orange         164
Montgomery     154
Washington     152
              ...
Sagadahoc        1
Tyler            1
Brewster         1
Salem City       1
Young            1
Name: CountyName, Length: 1063, dtype: int64
------------------------------------------

Value counts for SizeRank:
2047     1
2724     1
8865     1
10912    1
4759     1
        ..
1386     1
7529     1
5480     1
11615    1
2049     1
Name: SizeRank, Length: 13684, dtype: int64
------------------------------------------

Value counts for 1996-04:
79500.0     22
59800.0     22
62000.0     19
61800.0     19
87600.0     19
            ..
216300.0     1
533600.0     1
278200.0     1
258000.0     1
336800.0     1
Name: 1996-04, Length: 2719, dtype: int64
------------------------------------------

Value counts for 1996-05:
69500.0     21
73700.0     21
74200.0     21
79600.0     20
76400.0     20
            ..
207900.0     1
703600.0     1
393400.0     1
216100.0     1
402700.0     1
Name: 1996-05, Length: 2721, dtype: int64
------------------------------------------

Value counts for 1996-06:
76700.0     22
51600.0     21
71100.0     21
68800.0     21
86400.0     20
            ..
244500.0     1
209700.0     1
223900.0     1
15900.0      1
482900.0     1
Name: 1996-06, Length: 2744, dtype: int64
------------------------------------------

Value counts for 1996-07:
87900.0     22
69600.0     21
77100.0     21
86800.0     21
78000.0     21
            ..
230700.0     1
241800.0     1
350500.0     1
709800.0     1
319600.0     1
Name: 1996-07, Length: 2761, dtype: int64
------------------------------------------

Value counts for 1996-08:
70500.0     22
87000.0     21
69600.0     20
82300.0     20
61000.0     20
            ..
267900.0     1
301900.0     1
182300.0     1
310100.0     1
275500.0     1
Name: 1996-08, Length: 2701, dtype: int64
------------------------------------------

Value counts for 1996-09:
52900.0     21
52100.0     21
89900.0     21
70900.0     21
79800.0     20
            ..
322700.0     1
218700.0     1
408500.0     1
793000.0     1
645100.0     1
Name: 1996-09, Length: 2740, dtype: int64
------------------------------------------

Value counts for 1996-10:
77000.0     22
62800.0     21
53600.0     21
94300.0     20
77100.0     19
            ..
355300.0     1
317200.0     1
222700.0     1
338900.0     1
282800.0     1
Name: 1996-10, Length: 2733, dtype: int64
------------------------------------------

Value counts for 1996-11:
88500.0     26
61800.0     23
80500.0     21
84600.0     21
77400.0     21
            ..
422200.0     1
321700.0     1
323900.0     1
313500.0     1
26800.0      1
Name: 1996-11, Length: 2741, dtype: int64
------------------------------------------

Value counts for 1996-12:
82300.0     22
58600.0     21
90000.0     21
84700.0     21
76300.0     21
            ..
201500.0     1
314000.0     1
15600.0      1
430700.0     1
175700.0     1
Name: 1996-12, Length: 2735, dtype: int64
------------------------------------------

Value counts for 1997-01:
91200.0     22
84700.0     22
87300.0     21
82900.0     21
89200.0     20
            ..
267000.0     1
305300.0     1
297100.0     1
276100.0     1
34400.0      1
Name: 1997-01, Length: 2736, dtype: int64
------------------------------------------

Value counts for 1997-02:
83900.0     23
66300.0     22
82900.0     22
91300.0     22
82800.0     21
            ..
534800.0     1
729500.0     1
253200.0     1
247700.0     1
281000.0     1
Name: 1997-02, Length: 2740, dtype: int64
------------------------------------------

Value counts for 1997-03:
89500.0     23
85100.0     21
82400.0     21
66300.0     20
75500.0     20
            ..
193200.0     1
274300.0     1
345200.0     1
282500.0     1
199500.0     1
Name: 1997-03, Length: 2758, dtype: int64
------------------------------------------

Value counts for 1997-04:
89400.0     23
92000.0     23
98300.0     20
55100.0     20
66700.0     20
            ..
511500.0     1
314900.0     1
323100.0     1
223000.0     1
380900.0     1
Name: 1997-04, Length: 2751, dtype: int64
------------------------------------------

Value counts for 1997-05:
69600.0     22
58600.0     22
91500.0     22
54500.0     20
61700.0     20
            ..
420000.0     1
219400.0     1
220400.0     1
230700.0     1
243000.0     1
Name: 1997-05, Length: 2770, dtype: int64
------------------------------------------

Value counts for 1997-06:
58900.0     22
69400.0     21
88000.0     20
79400.0     20
89000.0     20
            ..
19800.0      1
212300.0     1
325900.0     1
29000.0      1
206000.0     1
Name: 1997-06, Length: 2772, dtype: int64
------------------------------------------

Value counts for 1997-07:
90500.0     23
88300.0     23
77600.0     21
80400.0     21
87600.0     20
            ..
233000.0     1
321400.0     1
265900.0     1
365600.0     1
370100.0     1
Name: 1997-07, Length: 2799, dtype: int64
------------------------------------------

Value counts for 1997-08:
82600.0     23
74600.0     23
67500.0     20
71100.0     20
57600.0     19
            ..
295200.0     1
226200.0     1
249000.0     1
711000.0     1
204800.0     1
Name: 1997-08, Length: 2786, dtype: int64
------------------------------------------

Value counts for 1997-09:
71700.0     22
82800.0     22
96900.0     20
76900.0     19
72400.0     19
            ..
479200.0     1
229100.0     1
17300.0      1
263300.0     1
419600.0     1
Name: 1997-09, Length: 2759, dtype: int64
------------------------------------------

Value counts for 1997-10:
74600.0     22
87700.0     21
98600.0     21
81200.0     21
85800.0     21
            ..
199200.0     1
300100.0     1
203300.0     1
513100.0     1
319600.0     1
Name: 1997-10, Length: 2794, dtype: int64
------------------------------------------

Value counts for 1997-11:
89200.0     24
94700.0     22
71800.0     21
130200.0    21
74500.0     20
            ..
444100.0     1
365700.0     1
297600.0     1
265500.0     1
493700.0     1
Name: 1997-11, Length: 2772, dtype: int64
------------------------------------------

Value counts for 1997-12:
90600.0     22
71000.0     22
89800.0     21
86000.0     21
57800.0     20
            ..
371500.0     1
809600.0     1
363300.0     1
110400.0     1
639200.0     1
Name: 1997-12, Length: 2795, dtype: int64
------------------------------------------

Value counts for 1998-01:
83500.0     23
74000.0     21
71800.0     21
87700.0     21
84000.0     21
            ..
199200.0     1
222300.0     1
255600.0     1
242700.0     1
215000.0     1
Name: 1998-01, Length: 2823, dtype: int64
------------------------------------------

Value counts for 1998-02:
83100.0     23
83700.0     22
85300.0     21
93000.0     21
124000.0    20
            ..
280800.0     1
166300.0     1
173400.0     1
289000.0     1
248900.0     1
Name: 1998-02, Length: 2830, dtype: int64
------------------------------------------

Value counts for 1998-03:
85000.0     28
82600.0     25
78500.0     24
83300.0     22
91900.0     21
            ..
233700.0     1
30700.0      1
23300.0      1
508800.0     1
238300.0     1
Name: 1998-03, Length: 2834, dtype: int64
------------------------------------------

Value counts for 1998-04:
73000.0     24
86000.0     22
74100.0     21
81200.0     21
83300.0     20
            ..
476000.0     1
191000.0     1
300800.0     1
228300.0     1
288200.0     1
Name: 1998-04, Length: 2860, dtype: int64
------------------------------------------

Value counts for 1998-05:
85100.0      27
82800.0      25
84200.0      23
73300.0      21
82900.0      20
             ..
240100.0      1
577400.0      1
1374500.0     1
381900.0      1
394400.0      1
Name: 1998-05, Length: 2862, dtype: int64
------------------------------------------

Value counts for 1998-06:
83600.0     25
66800.0     23
86300.0     23
82200.0     21
88100.0     21
            ..
391800.0     1
304900.0     1
33600.0      1
347200.0     1
223900.0     1
Name: 1998-06, Length: 2857, dtype: int64
------------------------------------------

Value counts for 1998-07:
75700.0     27
76200.0     25
62800.0     23
88000.0     21
74100.0     21
            ..
256100.0     1
189400.0     1
563800.0     1
425200.0     1
356300.0     1
Name: 1998-07, Length: 2887, dtype: int64
------------------------------------------

Value counts for 1998-08:
94000.0     24
76200.0     22
86600.0     21
80500.0     21
90100.0     20
            ..
301300.0     1
272000.0     1
227400.0     1
265000.0     1
386000.0     1
Name: 1998-08, Length: 2909, dtype: int64
------------------------------------------

Value counts for 1998-09:
89900.0     23
87300.0     22
80500.0     22
80800.0     21
85700.0     21
            ..
272800.0     1
27700.0      1
404100.0     1
398000.0     1
162900.0     1
Name: 1998-09, Length: 2912, dtype: int64
------------------------------------------

Value counts for 1998-10:
88000.0     24
73600.0     24
82400.0     22
68600.0     22
84700.0     21
            ..
246300.0     1
270000.0     1
874900.0     1
570100.0     1
201400.0     1
Name: 1998-10, Length: 2909, dtype: int64
------------------------------------------

Value counts for 1998-11:
72600.0     22
85300.0     22
77600.0     21
85500.0     21
81900.0     20
            ..
255400.0     1
396200.0     1
975200.0     1
31300.0      1
243400.0     1
Name: 1998-11, Length: 2903, dtype: int64
------------------------------------------

Value counts for 1998-12:
84700.0     21
90800.0     21
63800.0     21
88800.0     20
75200.0     19
            ..
351100.0     1
407400.0     1
25900.0      1
982200.0     1
405500.0     1
Name: 1998-12, Length: 2945, dtype: int64
------------------------------------------

Value counts for 1999-01:
69400.0     24
69800.0     21
75300.0     20
75900.0     20
92500.0     20
            ..
468000.0     1
200000.0     1
317200.0     1
264500.0     1
317300.0     1
Name: 1999-01, Length: 2954, dtype: int64
------------------------------------------

Value counts for 1999-02:
75400.0     23
86600.0     23
91200.0     20
77200.0     19
75900.0     19
            ..
306700.0     1
370500.0     1
41500.0      1
292300.0     1
349800.0     1
Name: 1999-02, Length: 2969, dtype: int64
------------------------------------------

Value counts for 1999-03:
84600.0     25
118700.0    21
97600.0     21
75400.0     21
77700.0     21
            ..
541200.0     1
347500.0     1
242800.0     1
21800.0      1
239000.0     1
Name: 1999-03, Length: 2993, dtype: int64
------------------------------------------

Value counts for 1999-04:
90900.0     23
90600.0     22
80000.0     21
64700.0     20
77300.0     19
            ..
15300.0      1
350200.0     1
313700.0     1
388800.0     1
359300.0     1
Name: 1999-04, Length: 3010, dtype: int64
------------------------------------------

Value counts for 1999-05:
84700.0     23
85300.0     21
118100.0    20
87500.0     19
99500.0     19
            ..
790600.0     1
250300.0     1
215800.0     1
236700.0     1
194400.0     1
Name: 1999-05, Length: 3053, dtype: int64
------------------------------------------

Value counts for 1999-06:
76400.0     23
111700.0    20
79700.0     19
76500.0     19
90100.0     19
            ..
373700.0     1
267800.0     1
178800.0     1
547000.0     1
331700.0     1
Name: 1999-06, Length: 3047, dtype: int64
------------------------------------------

Value counts for 1999-07:
85100.0     28
90000.0     23
76600.0     23
78200.0     23
92000.0     21
            ..
236600.0     1
266800.0     1
230200.0     1
362800.0     1
214500.0     1
Name: 1999-07, Length: 3067, dtype: int64
------------------------------------------

Value counts for 1999-08:
79600.0     21
86000.0     20
75600.0     20
83100.0     19
88600.0     19
            ..
664100.0     1
244100.0     1
860700.0     1
274700.0     1
401800.0     1
Name: 1999-08, Length: 3062, dtype: int64
------------------------------------------

Value counts for 1999-09:
85700.0     23
83700.0     23
85800.0     21
102800.0    20
127000.0    20
            ..
292700.0     1
824500.0     1
363100.0     1
595200.0     1
482000.0     1
Name: 1999-09, Length: 3082, dtype: int64
------------------------------------------

Value counts for 1999-10:
82900.0     21
68300.0     19
86000.0     19
84600.0     19
86100.0     19
            ..
880700.0     1
314800.0     1
234200.0     1
55100.0      1
310900.0     1
Name: 1999-10, Length: 3100, dtype: int64
------------------------------------------

Value counts for 1999-11:
78400.0      21
80500.0      20
85200.0      20
80100.0      20
87400.0      20
             ..
279400.0      1
978000.0      1
1189700.0     1
428500.0      1
269300.0      1
Name: 1999-11, Length: 3161, dtype: int64
------------------------------------------

Value counts for 1999-12:
91500.0     20
84100.0     19
90300.0     19
93200.0     19
76800.0     18
            ..
390100.0     1
29000.0      1
357300.0     1
288600.0     1
728900.0     1
Name: 1999-12, Length: 3153, dtype: int64
------------------------------------------

Value counts for 2000-01:
76500.0     20
124300.0    19
77000.0     19
85800.0     19
68900.0     19
            ..
405400.0     1
307100.0     1
607800.0     1
27900.0      1
909100.0     1
Name: 2000-01, Length: 3171, dtype: int64
------------------------------------------

Value counts for 2000-02:
78600.0     23
68500.0     19
92800.0     19
89300.0     19
71700.0     19
            ..
256200.0     1
476300.0     1
577700.0     1
444500.0     1
347300.0     1
Name: 2000-02, Length: 3191, dtype: int64
------------------------------------------

Value counts for 2000-03:
91700.0      23
90700.0      20
86000.0      18
79300.0      18
83300.0      18
             ..
534200.0      1
176800.0      1
363500.0      1
373800.0      1
1174200.0     1
Name: 2000-03, Length: 3235, dtype: int64
------------------------------------------

Value counts for 2000-04:
80800.0      20
77200.0      19
76100.0      19
92400.0      19
87400.0      19
             ..
294100.0      1
1155300.0     1
178600.0      1
334400.0      1
354000.0      1
Name: 2000-04, Length: 3250, dtype: int64
------------------------------------------

Value counts for 2000-05:
83800.0     22
78700.0     20
89000.0     20
91800.0     18
91000.0     18
            ..
431000.0     1
747300.0     1
412400.0     1
322000.0     1
696200.0     1
Name: 2000-05, Length: 3269, dtype: int64
------------------------------------------

Value counts for 2000-06:
81200.0     22
91300.0     20
125600.0    20
90300.0     19
88300.0     19
            ..
239300.0     1
258000.0     1
272400.0     1
216700.0     1
319600.0     1
Name: 2000-06, Length: 3288, dtype: int64
------------------------------------------

Value counts for 2000-07:
84600.0     25
86500.0     19
93600.0     19
89000.0     19
92000.0     18
            ..
863700.0     1
27100.0      1
255600.0     1
366300.0     1
298900.0     1
Name: 2000-07, Length: 3326, dtype: int64
------------------------------------------

Value counts for 2000-08:
93800.0     19
75300.0     18
134200.0    18
89500.0     17
78800.0     17
            ..
510500.0     1
206100.0     1
313900.0     1
233100.0     1
284900.0     1
Name: 2000-08, Length: 3352, dtype: int64
------------------------------------------

Value counts for 2000-09:
83200.0     20
82500.0     18
79700.0     18
85600.0     17
122500.0    17
            ..
349200.0     1
231000.0     1
387100.0     1
236700.0     1
710300.0     1
Name: 2000-09, Length: 3355, dtype: int64
------------------------------------------

Value counts for 2000-10:
87600.0     19
69300.0     19
72400.0     19
94900.0     18
88200.0     18
            ..
247900.0     1
193200.0     1
381000.0     1
305300.0     1
420200.0     1
Name: 2000-10, Length: 3371, dtype: int64
------------------------------------------

Value counts for 2000-11:
77700.0      20
88100.0      19
89000.0      19
88000.0      18
95300.0      18
             ..
428200.0      1
329900.0      1
263200.0      1
764500.0      1
1736700.0     1
Name: 2000-11, Length: 3393, dtype: int64
------------------------------------------

Value counts for 2000-12:
92100.0     21
84500.0     19
91200.0     18
139400.0    18
89100.0     18
            ..
305700.0     1
461800.0     1
338000.0     1
238000.0     1
402000.0     1
Name: 2000-12, Length: 3434, dtype: int64
------------------------------------------

Value counts for 2001-01:
90400.0     19
93700.0     19
100200.0    18
135200.0    18
77100.0     18
            ..
494200.0     1
791800.0     1
693500.0     1
404100.0     1
486900.0     1
Name: 2001-01, Length: 3461, dtype: int64
------------------------------------------

Value counts for 2001-02:
88000.0     20
78100.0     19
80400.0     18
84000.0     18
95400.0     18
            ..
242100.0     1
363100.0     1
537900.0     1
381800.0     1
404400.0     1
Name: 2001-02, Length: 3486, dtype: int64
------------------------------------------

Value counts for 2001-03:
81300.0     19
82900.0     19
91200.0     18
150500.0    18
88600.0     18
            ..
262700.0     1
357200.0     1
405400.0     1
479500.0     1
621100.0     1
Name: 2001-03, Length: 3487, dtype: int64
------------------------------------------

Value counts for 2001-04:
95200.0     21
81000.0     19
122200.0    18
133400.0    18
89100.0     18
            ..
429400.0     1
234100.0     1
481000.0     1
362700.0     1
431900.0     1
Name: 2001-04, Length: 3510, dtype: int64
------------------------------------------

Value counts for 2001-05:
96500.0      20
95600.0      19
138700.0     18
109900.0     18
79800.0      17
             ..
222500.0      1
325500.0      1
1004700.0     1
485500.0      1
227300.0      1
Name: 2001-05, Length: 3529, dtype: int64
------------------------------------------

Value counts for 2001-06:
92200.0      22
97300.0      19
77600.0      18
113600.0     17
123400.0     17
             ..
232200.0      1
472100.0      1

- The dataset  does not have any data inconsistencies